apiVersion: v1
baseDomain: {{ clusterBaseDomain }}
compute:
- hyperthreading: Enabled
  name: worker
  platform:
    azure:
      type: {{ workerType }}
  replicas: {{ workerReplicas }}
controlPlane:
  hyperthreading: Enabled
  name: master
  platform:
    azure:
      type: {{ masterType }}
  replicas: {{ masterReplicas }}
metadata:
  creationTimestamp: null
  name: {{ clusterName }}
networking:
  clusterNetwork:
  - cidr: {{ machineCidr }}
    hostPrefix: {{ clusterNetworkHostprefix }}
  machineCIDR: {{ machineCidr }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ serviceNetwork }}
platform:
  azure:
    baseDomainResourceGroupName: {{ domainResouceGroup }}
    region: {{ region }}
    networkResourceGroupName: {{ networkResourceGroupName }}
    virtualNetwork: {{ virtualNetwork }}
    controlPlaneSubnet: {{ controlPlaneSubnet }}
    computeSubnet: {{ computeSubnet }}
publish: Internal
pullSecret: {{ pullSecret }}
sshKey: |
  {{ sshKey }}
